
*.txt

*.class

*.jar

*.zip

eightpuzzle/.classpath

eightpuzzle/.project

*.png

Leetcode/src/elevator/.project

Leetcode/.metadata/.mylyn/.taskListIndex/segments_1

*.setup

*.xml

Leetcode/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.version

*.index

*.prefs

*.dat

*.log

*.gen

*.json

*.nrm

*.fdt

*.tis

*.xmi
